# Validation Report

#### **1. Validation Report**

The Validation Report is generated when a Validation Task is executed in the pipeline. It provides insights into whether the S/4HANA Public Cloud artifacts (Transports or Software Collections) meet the required conditions before deployment.

* Click on the **Validation Report**  to open it.&#x20;

<figure><img src="../../.gitbook/assets/image (1557).png" alt=""><figcaption></figcaption></figure>

* The report shows the overall validation status as either **Success** or **Failed**. Along with the status, the report also displays important artifact details such as:
  * **Artifact ID**
  * **Description**
  * **Version**
  * **Import Status**
* **Checking Details**
  * If the status is _Failed_, you can find out why it failed by hovering over the failed status.

<figure><img src="../../.gitbook/assets/image (1531).png" alt=""><figcaption></figcaption></figure>

**Public Cloud Dependency Report**

* The report displays the Artifact ID along with its dependent user stories, where the artifact is assigned to a user story.&#x20;

<figure><img src="../../.gitbook/assets/image (1559).png" alt=""><figcaption></figcaption></figure>
